---
- name: Ensure /root/.ssh directory exists
  ansible.builtin.file:
    path: /root/.ssh
    state: directory
    owner: root
    group: root
    mode: '0700'

- name: Copy authorized_keys for root
  ansible.builtin.copy:
<<<<<<< HEAD
    src: "{{ playbook_dir }}/roles/ubuntu/files/authorized_keys"
=======
    src: authorized_keys
>>>>>>> main
    dest: /root/.ssh/authorized_keys
    owner: root
    group: root
    mode: '0600'
    backup: true
