risc0_image_folder = "{{ risc0_image_folder }}"
max_input_size_mb = {{ max_input_size_mb }}
image_download_timeout_secs = {{ image_download_timeout_secs }}
input_download_timeout_secs = {{ input_download_timeout_secs }}
maximum_concurrent_proofs = {{ maximum_concurrent_proofs }}
max_image_size_mb = {{ max_image_size_mb }}
image_compression_ttl_hours = {{ image_compression_ttl_hours }}
env = "{{ env }}"
stark_compression_tools_path = "{{ stark_compression_tools_path }}"
missing_image_strategy = "{{ missing_image_strategy }}"

[metrics_config]
  Prometheus = {}

[ingester_config]
  GrpcSubscription = { grpc_url = "{{ ingester_grpc_url }}", token = "{{ ingester_grpc_token }}", connection_timeout_secs = 10, timeout_secs = 10 }

[transaction_sender_config]
  Rpc = { rpc_url = "{{ transaction_rpc_url }}" }

[signer_config]
  KeypairFile = { path = "{{ signer_keypair_path }}" }
